name: Backend Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Touch .env
        run: |
          touch .env
          echo "DB_URL=${{ secrets.DB_URL }}" >> ./.env
          echo "DATABASE=${{ secrets.DATABASE }}" >> ./.env
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> ./.env
          echo "BUCKET_REGION=${{ secrets.BUCKET_REGION }}" >> ./.env
          echo "BUCKET_ACCESS_KEY=${{ secrets.BUCKET_ACCESS_KEY }}" >> ./.env
          echo "BUCKET_SECRET_KEY=${{ secrets.BUCKET_SECRET_KEY }}" >> ./.env
          echo "BUCKET_NAME=${{ secrets.BUCKET_NAME }}" >> ./.env
          echo "SUPERTONE_API_CINDY_URL=${{ secrets.SUPERTONE_API_CINDY_URL }}" >> ./.env
          echo "SUPERTONE_API_MOK_URL=${{ secrets.SUPERTONE_API_MOK_URL }}" >> ./.env
          echo "SUPERTONE_API_KEY=${{ secrets.SUPERTONE_API_KEY }}" >> ./.env

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          ecr: auto
          logout: true
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build and push Docker Image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_REGISTRY_URL }}:backend
          cache-from: type=gha  # gha = Guthub Actions 용 캐시
          cache-to: type=gha,mode=max

      - name: Deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_REGISTRY_URL }}:backend
            docker-compose down
            docker-compose up -d
            docker image prune -f
